 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  gap: 5px ;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 222, 40);
  font-family: sans-serif;

}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: min(960px, 90vmin);
    aspect-ratio: 1 / 1;
}

.square {
    flex: 0 0 calc(100% / 16);
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 1px solid gray;
}

#newBtn {
    padding: 10px 20px;
}

