 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: white;
  font-family: sans-serif;

}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.square {
    padding: 50px;
    background-color: green;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}