 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 222, 40);
  font-family: sans-serif;

}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

.square {
    flex: 0 0 calc(100% / 16);
    aspect-ratio: 1 / 1;
    background-color: white;
    border: 1px solid gray;
}

