 body {
  height: 100%;
}
#container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.square {
    padding: 50px;
    background-color: green;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}